WebContent/WEB-INF/RegisterSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/RegisterSchema" xmlns:tns="http://www.example.org/RegisterSchema"
	elementFormDefault="qualified">
	<xs:element name="register-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="user">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="userName" type="xs:string" />
							<xs:element name="password" type="xs:string" />
							<xs:element name="email" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>